/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
#outer {
    width: 100%;
    text-align: center;
    color: white;
    height: 40px;
    /* width: 80px; */
    font-style: normal;
}

.inner {
    display: inline-block;
    margin: 1%;
    background-color: #0c7fdc;
    font-size: 18px;
}

#outer-close {
    width: 100%;
    text-align: center;
}

.inner {
    display: inline-block;
    margin: 1%;
}