<!-- <body>
    <div class="m-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" style="background-color: rgba(112, 112, 200, 0.574);height: 60px;top:0px;margin-bottom:60px;">
                <a href="Heading" class="navbar-brand" style="font-size: xx-large;font-weight: 700;color: #5656cd">Account Detail Tab</a>
                <a href="#" class="navbar-brand" style="float: right;margin-right: 20px;color: white;font-style: normal;">Contact</a>
                <a routerLink="/data-table" class="navbar-brand" style="float: right;margin-right: 20px;color: white;font-style: normal;" (click)="onBtnClick()">Register</a>
            </div>
        </nav>
    </div>
</body> -->

<body style="top:0;font-family: Roboto;">
    <div id="bgimg" class="container">
        <div class="heading animated fadeInDown">
            <h1 style="letter-spacing: 8px;"><strong>PREMIER LEAGUE</strong></h1>
            <hr class="breakLine">
            <h5 style="font-size: large;font-family: 'Roboto';margin-top: 15px;letter-spacing: 5px;"><strong id="baseline">Stats & Scores</strong></h5>
            <a class="btn" style="margin-top: 40px;width: 130px;    margin-right: 30px;">Players</a>
            <a class="btn" style="margin-top: 40px;width: 130px;">Matches</a>
        </div>
    </div>
</body>